@namespace Exam2.Entities
@using Exam2.Interfaces
@model List<Product>
@{
    ProductDbContext _repository = new ProductDbContext();
}
<div class="float-ent h2">
    لیست محصولات
</div>
<div class="float-start">
    <a class="btn btn-success" asp-controller="Home" asp-action="Create" >ایجاد کالا</a>
</div>
<table class="table table-hover table-light">
    <thead>
    <th>شناسه</th>
    <th>نام</th>
    <th>قیمت</th>
    <th>تاریخ تولید</th>
    <th>گروه بندی </th>
    <th></th>
    </thead>
    @foreach(Product i in Model)
    {
        <tr>
            <td>@i.Id</td>
            <td>@i.Name</td>
            <td>@i.Price</td>
            <td>@i.CreateDate</td>
            <td>@i.CategoryId</td>
            <td>
                <a class="btn btn-info" asp-controller="Home" asp-action="Details" asp-route-id="@i.Id">مشاهده</a>
                <a class="btn btn-warning" asp-controller="Home" asp-action="Edit" asp-route-id="@i.Id"> ویرایش</a>
                <a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@i.Id">حذف</a>
            </td>
        </tr> 
    }
</table>
